In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
#importing modules and functions
import pandas as pd
import numpy as np
import graphviz
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [3]:
from aif360.datasets import StandardDataset
from aif360.metrics import BinaryLabelDatasetMetric, ClassificationMetric
import matplotlib.patches as patches
from aif360.algorithms.preprocessing import Reweighing
#from packages import *
#from ml_fairness import *
import matplotlib.pyplot as plt
import seaborn as sns



from IPython.display import Markdown, display

# # # # **Importing our Dataset**

In [4]:
dff=pd.read_csv("../../Data/adult.csv")

# # # # **Preprocessing**

In [5]:
dff=dff.drop(columns=['fnlwgt', 'capital.gain','capital.loss'])

In [6]:
dff["workclass"]=dff["workclass"].replace("?", "Private")
dff.head(4)
dff["workclass"].value_counts()

Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [7]:
dff["occupation"]=dff["occupation"].replace("?","Not specified")
dff.head(4)
dff.income[dff.occupation=="Not Specifeid"]

Series([], Name: income, dtype: object)

In [8]:
a=dff.income[dff.education=="Some-college"]
a.value_counts()

<=50K    5904
>50K     1387
Name: income, dtype: int64

# # # # **Changing everything to integers for fitting**

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
dff['age']=le.fit_transform(dff["age"])
dff['workclass']=le.fit_transform(dff["workclass"])
dff['education']=le.fit_transform(dff["education"])
dff['education.num']=le.fit_transform(dff["education.num"])

dff['marital.status']=le.fit_transform(dff["marital.status"])
dff['occupation']=le.fit_transform(dff["occupation"])
dff['relationship']=le.fit_transform(dff["relationship"])
dff['race']=le.fit_transform(dff["race"])
dff['sex']=le.fit_transform(dff["sex"])
dff['hours.per.week']=le.fit_transform(dff["hours.per.week"])
dff['native.country']=le.fit_transform(dff["native.country"])
dff['income']=le.fit_transform(dff["income"])

In [12]:
dff

,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,hours.per.week,native.country,income
0,72,3,11,8,6,7,1,4,0,39,39,0
1,65,3,11,8,6,3,1,4,0,17,39,0
2,49,3,15,9,6,7,4,2,0,39,39,0
3,37,3,5,3,0,6,4,4,0,39,39,0
4,24,3,15,9,5,10,3,4,0,39,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,5,3,15,9,4,11,1,4,1,39,39,0
32557,10,3,7,11,2,13,5,4,0,37,39,0
32558,23,3,11,8,2,6,0,4,1,39,39,1
32559,41,3,11,8,6,0,4,4,0,39,39,0
32560,5,3,11,8,4,0,3,4,1,19,39,0

In [13]:
feature_cols=["age","workclass","education","education.num","martial.status","occupation","relationship","race","sex","hours.per.week","native.country"]
target=["0","1"]

# # # # **Diving the Data into train and test datasets**

In [ ]:
X_train,X_test,y_train, y_test=train_test_split(dff[dff.columns[0:11]], dff[dff.columns[11]], test_size=0.33, random_state=42)

# # # # **creating DT Classifier object and fitting the data to model**

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy",max_depth=6)

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

# # # # **Accuracy**

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

# # # # **Visualization**

In [ ]:
import graphviz
dot_data=tree.export_graphviz(clf,out_file=None)
graph = graphviz.Source(dot_data)
graph.render("dff")

In [ ]:
dot_data = tree.export_graphviz(clf, out_file=None, 
feature_names=feature_cols,  
class_names=target,  
filled=True, rounded=True,  
special_characters=True)  
graph = graphviz.Source(dot_data)  
graph

In [ ]:
from xgboost import XGBClassifier
import xgboost as xgb

In [ ]:
model = XGBClassifier(max_depth=3,learning_rate=0.1,n_estimators=300,booster="gbtree",reg_lambda=0.5,reg_alpha=0.5)
model.fit(X_train, y_train)

In [ ]:
y_pred_xgb = model.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_xgb))

In [ ]:

#plotting technique - 1 (varying the size)
from xgboost import plot_tree
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (80,12)
plot_tree(model)
plt.show()

In [ ]:
#plotting technique 2 (more clear,more dpi)
xgb.to_graphviz(model, num_trees=2)

## Fairness

In [14]:
# This DataFrame is created to stock differents models and fair metrics that we produce in this notebook
algo_metrics = pd.DataFrame(columns=['model', 'fair_metrics', 'prediction', 'probs'])

def add_to_df_algo_metrics(algo_metrics, model, fair_metrics, preds, probs, name):
    return algo_metrics.append(pd.DataFrame(data=[[model, fair_metrics, preds, probs]], columns=['model', 'fair_metrics', 'prediction', 'probs'], index=[name]))

In [15]:
def fair_metrics(dataset, pred, pred_is_dataset=False):
    if pred_is_dataset:
        dataset_pred = pred
    else:
        dataset_pred = dataset.copy()
        dataset_pred.labels = pred
    
    cols = ['statistical_parity_difference', 'equal_opportunity_difference', 'average_abs_odds_difference',  'disparate_impact', 'theil_index']
    obj_fairness = [[0,0,0,1,0]]
    
    fair_metrics = pd.DataFrame(data=obj_fairness, index=['objective'], columns=cols)
    
    for attr in dataset_pred.protected_attribute_names:
        idx = dataset_pred.protected_attribute_names.index(attr)
        privileged_groups =  [{attr:dataset_pred.privileged_protected_attributes[idx][0]}] 
        unprivileged_groups = [{attr:dataset_pred.unprivileged_protected_attributes[idx][0]}] 
        
        classified_metric = ClassificationMetric(dataset, 
                                                     dataset_pred,
                                                     unprivileged_groups=unprivileged_groups,
                                                     privileged_groups=privileged_groups)

        metric_pred = BinaryLabelDatasetMetric(dataset_pred,
                                                     unprivileged_groups=unprivileged_groups,
                                                     privileged_groups=privileged_groups)

        acc = classified_metric.accuracy()

        row = pd.DataFrame([[metric_pred.mean_difference(),
                                classified_metric.equal_opportunity_difference(),
                                classified_metric.average_abs_odds_difference(),
                                metric_pred.disparate_impact(),
                                classified_metric.theil_index()]],
                           columns  = cols,
                           index = [attr]
                          )
        fair_metrics = fair_metrics.append(row)    
    
    fair_metrics = fair_metrics.replace([-np.inf, np.inf], 2)
        
    return fair_metrics

def plot_fair_metrics(fair_metrics):
    fig, ax = plt.subplots(figsize=(20,4), ncols=5, nrows=1)

    plt.subplots_adjust(
        left    =  0.125, 
        bottom  =  0.1, 
        right   =  0.9, 
        top     =  0.9, 
        wspace  =  .5, 
        hspace  =  1.1
    )

    y_title_margin = 1.2

    plt.suptitle("Fairness metrics", y = 1.09, fontsize=20)
    sns.set(style="dark")

    cols = fair_metrics.columns.values
    obj = fair_metrics.loc['objective']
    size_rect = [0.2,0.2,0.2,0.4,0.25]
    rect = [-0.1,-0.1,-0.1,0.8,0]
    bottom = [-1,-1,-1,0,0]
    top = [1,1,1,2,1]
    bound = [[-0.1,0.1],[-0.1,0.1],[-0.1,0.1],[0.8,1.2],[0,0.25]]

    display(Markdown("### Check bias metrics :"))
    display(Markdown("A model can be considered bias if just one of these five metrics show that this model is biased."))
    for attr in fair_metrics.index[1:len(fair_metrics)].values:
        display(Markdown("#### For the %s attribute :"%attr))
        check = [bound[i][0] < fair_metrics.loc[attr][i] < bound[i][1] for i in range(0,5)]
        display(Markdown("With default thresholds, bias against unprivileged group detected in **%d** out of 5 metrics"%(5 - sum(check))))

    for i in range(0,5):
        plt.subplot(1, 5, i+1)
        ax = sns.barplot(x=fair_metrics.index[1:len(fair_metrics)], y=fair_metrics.iloc[1:len(fair_metrics)][cols[i]])
        
        for j in range(0,len(fair_metrics)-1):
            a, val = ax.patches[j], fair_metrics.iloc[j+1][cols[i]]
            marg = -0.2 if val < 0 else 0.1
            ax.text(a.get_x()+a.get_width()/5, a.get_y()+a.get_height()+marg, round(val, 3), fontsize=15,color='black')

        plt.ylim(bottom[i], top[i])
        plt.setp(ax.patches, linewidth=0)
        ax.add_patch(patches.Rectangle((-5,rect[i]), 10, size_rect[i], alpha=0.3, facecolor="green", linewidth=1, linestyle='solid'))
        plt.axhline(obj[i], color='black', alpha=0.3)
        plt.title(cols[i])
        ax.set_ylabel('')    
        ax.set_xlabel('')

In [16]:
def get_fair_metrics_and_plot(data, model, plot=False, model_aif=False):
    pred = model.predict(data).labels if model_aif else model.predict(data.features)
    # fair_metrics function available in the metrics.py file
    fair = fair_metrics(data, pred)

    if plot:
        # plot_fair_metrics function available in the visualisations.py file
        # The visualisation of this function is inspired by the dashboard on the demo of IBM aif360 
        plot_fair_metrics(fair)
        display(fair)
    
    return fair

In [17]:
dff.head()

,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,hours.per.week,native.country,income
0,72,3,11,8,6,7,1,4,0,39,39,0
1,65,3,11,8,6,3,1,4,0,17,39,0
2,49,3,15,9,6,7,4,2,0,39,39,0
3,37,3,5,3,0,6,4,4,0,39,39,0
4,24,3,15,9,5,10,3,4,0,39,39,0

In [18]:
#print(X)


#combine_final = [train_df, test_df]
#result = pd.concat(combine_final)
#print(result.ifany())
#print(result)
privileged_groups = [{'sex': 1}]
unprivileged_groups = [{'sex': 0}]
dataset_orig = StandardDataset(dff,
                                  label_name='income',
                                  protected_attribute_names=['sex'],
                                  favorable_classes=[1],
                                  privileged_classes=[[1]])

#metric_orig_train = BinaryLabelDatasetMetric(dataset_orig, 
#                                             unprivileged_groups=unprivileged_groups,
#                                             privileged_groups=privileged_groups)
#display(Markdown("#### Original training dataset"))
#print("Difference in mean outcomes between unprivileged and privileged groups = %f" % metric_orig_train.mean_difference())

In [19]:
metric_orig_train = BinaryLabelDatasetMetric(dataset_orig, 
                                             unprivileged_groups=unprivileged_groups,
                                             privileged_groups=privileged_groups)
display(Markdown("#### Original training dataset"))
print("Difference in mean outcomes between unprivileged and privileged groups = %f" % metric_orig_train.mean_difference())

#### Original training dataset

Difference in mean outcomes between unprivileged and privileged groups = -0.196276

In [21]:
import ipynbname
nb_fname = ipynbname.name()
nb_path = ipynbname.path()

from xgboost import XGBClassifier
import pickle

data_orig_train, data_orig_test = dataset_orig.split([0.7], shuffle=True)
X_train = data_orig_train.features
y_train = data_orig_train.labels.ravel()

X_test = data_orig_test.features
y_test = data_orig_test.labels.ravel()
num_estimators = 300

model = XGBClassifier(max_depth=3,learning_rate=0.1,n_estimators=1,booster="gbtree",reg_lambda=0.5,reg_alpha=0.5)

mdl = model.fit(X_train, y_train)
with open('../../Results/XGBoost/' + nb_fname + '.pkl', 'wb') as f:
        pickle.dump(mdl, f)

with open('../../Results/XGBoost/' + nb_fname + '_Train' + '.pkl', 'wb') as f:
    pickle.dump(data_orig_train, f) 
    
with open('../../Results/XGBoost/' + nb_fname + '_Test' + '.pkl', 'wb') as f:
    pickle.dump(data_orig_test, f)

In [22]:
from csv import writer
from sklearn.metrics import accuracy_score, f1_score

final_metrics = []
accuracy = []
f1= []

for i in range(1,num_estimators+1):
    
    model = XGBClassifier(max_depth=3,learning_rate=0.1,booster="gbtree",reg_lambda=0.5,reg_alpha=0.5,n_estimators= i)
    mdl = model.fit(X_train, y_train)
    yy = mdl.predict(X_test)
    accuracy.append(accuracy_score(y_test, yy))
    f1.append(f1_score(y_test, yy))
    fair = get_fair_metrics_and_plot(data_orig_test, mdl)                           
    fair_list = fair.iloc[1].tolist()
    fair_list.insert(0, i)
    final_metrics.append(fair_list)

In [23]:
import numpy as np
final_result = pd.DataFrame(final_metrics)
final_result[4] = np.log(final_result[4])
final_result = final_result.transpose()
final_result.loc[0] = f1  # add f1 and acc to df
acc = pd.DataFrame(accuracy).transpose()
acc = acc.rename(index={0: 'accuracy'})
final_result = pd.concat([acc,final_result])
final_result = final_result.rename(index={0: 'f1', 1: 'statistical_parity_difference', 2: 'equal_opportunity_difference', 3: 'average_abs_odds_difference', 4: 'disparate_impact', 5: 'theil_index'})
final_result.columns = ['T' + str(col) for col in final_result.columns]
final_result.insert(0, "classifier", final_result['T' + str(num_estimators - 1)])   ##Add final metrics add the beginning of the df
final_result.to_csv('../../Results/XGBoost/' + nb_fname + '.csv')
final_result

,classifier,T0,T1,T2,T3,T4,T5,T6,T7,T8,...,T290,T291,T292,T293,T294,T295,T296,T297,T298,T299
accuracy,0.846760,0.826185,0.826185,0.826185,0.826185,0.826185,0.826185,0.826185,0.826185,0.826185,...,0.846555,0.846555,0.846555,0.846555,0.846555,0.846555,0.846453,0.846555,0.846658,0.846760
f1,0.655625,0.535304,0.535304,0.535304,0.535304,0.535304,0.535304,0.535304,0.535304,0.535304,...,0.655323,0.655323,0.655323,0.655323,0.655323,0.655323,0.655172,0.655323,0.655474,0.655625
statistical_parity_difference,-0.187010,-0.116315,-0.116315,-0.116315,-0.116315,-0.116315,-0.116315,-0.116315,-0.116315,-0.116315,...,-0.188246,-0.188246,-0.188246,-0.187780,-0.187780,-0.187780,-0.187932,-0.187780,-0.187162,-0.187010
equal_opportunity_difference,-0.061581,-0.019530,-0.019530,-0.019530,-0.019530,-0.019530,-0.019530,-0.019530,-0.019530,-0.019530,...,-0.061581,-0.061581,-0.061581,-0.061581,-0.061581,-0.061581,-0.061581,-0.061581,-0.061581,-0.061581
average_abs_odds_difference,0.071089,0.030711,0.030711,0.030711,0.030711,0.030711,0.030711,0.030711,0.030711,0.030711,...,0.071876,0.071876,0.071876,0.071592,0.071592,0.071592,0.071702,0.071592,0.071199,0.071089
disparate_impact,-1.209350,-1.120708,-1.120708,-1.120708,-1.120708,-1.120708,-1.120708,-1.120708,-1.120708,-1.120708,...,-1.219562,-1.219562,-1.219562,-1.215017,-1.215017,-1.215017,-1.215586,-1.215017,-1.209919,-1.209350
theil_index,0.120020,0.164072,0.164072,0.164072,0.164072,0.164072,0.164072,0.164072,0.164072,0.164072,...,0.120084,0.120084,0.120084,0.120084,0.120084,0.120084,0.120116,0.120084,0.120052,0.120020